.app {
  font-family: sans-serif;
  border-radius: 20px;
  padding: 10px;
  color: teal;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 100px;
}

a {
  text-decoration: none;
}

body {
  background-color: gray;
}
